Merhaba <%=@organization.user.name%>,

Gün içerisinde <a href="<%=organization_path(@organization, :only_path => false)%>"><%=@organization.name%></a> isimli kurumunuzda açılmış olan bağış sayfalarını aşağıda görebilirsiniz.


<% @pages.each do |page| %>

Sayfanın ismi             : <%=page.title%>
Sayfayı açan kullanıcı    : <%=page.user.name%>
Sayfanın bağış hedefi     : <%=page.goal%> TL

<% end %>



Twitter: <a href="http://twitter.com/#!/Ben_Varim">@BenVarim</a></li>
Facebook: <a href="http://www.facebook.com/BenVarim.Platformu">BenVarim Facebook
Email: <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com
