<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      Günlük bağış sayfası raporu
    </title>
  </head>
  <body>

Merhaba <%=@organization.user.name%>,<br/><br/>

Gün içerisinde <a href="<%=organization_path(@organization, :only_path => false)%>"><%=@organization.name%></a> isimli kurumunuzda açılmış olan bağış sayfalarını aşağıda görebilirsiniz. <br/><br/>


<% @pages.each do |page| %>

Sayfanın ismi             : <%=page.title%><br/>
Sayfayı açan kullanıcı    : <%=page.user.name%><br/>
Sayfanın bağış hedefi     : <%=page.goal%> TL<br/>

<% end %>
<br/><br/>


<ul>
  <li>Twitter: <a href="http://twitter.com/#!/Ben_Varim">@BenVarim</a></li>
  <li>Facebook: <a href="http://www.facebook.com/BenVarim.Platformu">BenVarim Facebook</a></li>
  <li>Email: <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com</a></li>
</ul>

</body>
</html>
