<% if @support %>

  <% url = support_path(@support.organization, @support.user, :only_path => false) %>

  <% target_supporters = 10000 %>
  <% target_supporters_str =  "10,000" %>
  <% total_supporters = @organization.supports.count %>

  <% percentage = (total_supporters/target_supporters) %>


  <div class="dialog" id="dialog-post-support" title="Beğendiğin için teşekkürler!">

    <div class="d-header">
      <div class="dh-title">
        <div class="support-message">
          <div style="float: right;">
            <%= image_tag @organization.logo.url(:thumb) %>
          </div>

          <p>
            <%= target_supporters_str %> kişiye ulaşmak için <strong><%= @support.organization.name %> sana ihtiyaç duyuyor.</strong> Bu sayfayı paylaşarak sen de daha fazla kişinin beğenmesini sağlayabilirsin.
          </p>

          <!-- <div class="pb-container-small clearfix">
            <div class="progress-bar rc clearfix pb-small">
              <div class="pb-value rc" style="width: <%= percentage %>%;">
                <div class="pb-reflection rc"></div>
                <div class="pb-hedef">HEDEF: <b><%= target_supporters_str %> Kişi</b></div>
                <div class="pb-toplanan">
                    Toplam Destekçi: <b> <%= total_supporters %></b>
                </div>
              </div>
            </div>
          </div> -->

        </div><!-- support-message -->

        <%= render :partial => 'organizations/includes/share_options',
            :locals => {
              :text => "Ben destekledim, sıra sende! #{@organization.name}",
              :url => url
            }
        %>

      </div>
    </div><!-- .d-header -->

    <div class="d-content ">
      <div class="separator"></div>
      <p><strong>Neden <%= target_supporters_str %> kişi gerekli?</strong></p>
      <p>Şirketler, BenVarım platformu üzerinden sponsorluk anlaşması yapmadan önce kuruma olan güveni ve desteği görmek istiyor. Size özel bu linki paylaşarak sevdiğiniz kurum için "<i>cebinizden hiç para çıkmadan</i>" destek toplayın.</p>
    </div><!-- .d-content -->

    <div class="d-footer"></div><!-- .d-footer -->

  </div><!-- .d-dialog -->
<% end %>