<h2>Düzenle <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <br/>
  <% end %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email %></p>

  <p><%= f.label :password %> <i>(değiştirmek istemiyorsanız boş bırakın)</i><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :current_password %> <i>(değişiklikleri kaydetmek için şimdiki şifrenizi girmelisiniz)</i><br />
  <%= f.password_field :current_password %></p>

  <p><%= f.submit "Kaydet" %></p>
<% end %>
