<div class="one-column">
  <div class="widget widget-light" id="w-yeni-kayit">
    <div class="w-inner">
      <div class="w-title">Yeni Kayıt Oluştur</div>


<!--
      <%
      if resource.errors.any?
        flash.now[:error] = raw resource.errors.full_messages.join('<br/>')
      end
      %>


      <%=render :partial => 'layouts/errors'%>
-->



<a class="fb-button" href="https://www.facebook.com/dialog/oauth?client_id=138566025676&amp;scope=email,user_birthday,user_likes,user_education_history,user_hometown,user_interests,user_activities,user_location&amp;redirect_uri=https://www.airbnb.com/authenticate" data-redirect_uri="https://www.airbnb.com/authenticate">
	<span class="fb-button-left"></span>
	<span class="fb-button-center"><strong>Connect</strong> with <strong>Facebook</strong></span>
	<span class="fb-button-right"></span>
</a>



      <% if resource.errors.any? %>
        <div class="msg msg-error" id="error_explanation">
          <h2>Lütfen aşagıdaki hataları düzeltiniz.</h2>
          <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  



      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

        <div class="field"><%= f.label :password %>
        <%= f.password_field :password %></div>

        <div class="field"><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>

        <div class="actions"><%= f.submit "Kayıt Ol", :class=>"button super yellow button-primary" %></div>
      <% end %>

      <%= render :partial => "devise/shared/links" %>


    </div>
  </div>
</div>