<%=render :partial => "email_layouts/header",
  :locals => {
    :title => "Günlük bağış raporu"
  }%>
Merhaba <%=@page.user.name%>,<br/><br/>

Gün içerisinde <a href="<%=page_path(@page, :only_path => false)%>"><%=@page.title%></a> isimli sayfanıza yapılmış olan bağışları aşağıda görebilirsiniz. <br/><br/>

<% toplam = 0 %>
<% @payments.each do |payment| %>

İsim   : <%=payment.name%><br/>
Not    : <%=payment.note%><br/>
Miktar : <%=payment.amount_in_currency_str%> <%=payment.currency_sign%><br/><br/>

<% toplam += payment.amount %>
<% end %>
<br/><br/>

Toplam: <%=number_with_precision(toplam, :locale => :tr)%> TL <br/>
Bu güne kadar yapılan toplam bağış: <%=@page.collected_str%> TL<br/>

<%=render :partial => "email_layouts/footer" %>