<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      Günlük bağış raporu
    </title>
  </head>
  <body>

Merhaba <%=@page.user.name%>,<br/><br/>

Gün içerisinde <a href="<%=page_path(@page, :only_path => false)%>"><%=@page.title%></a> isimli sayfanıza yapılmış olan bağışları aşağıda görebilirsiniz. <br/><br/>

<% toplam = 0 %>
<% @payments.each do |payment| %>

İsim   : <%=payment.name%><br/>
Not    : <%=payment.note%><br/>
Miktar : <%=payment.amount%> TL<br/><br/>

<% toplam += payment.amount %>
<% end %>
<br/><br/>

Toplam: <%= toplam %> TL<br/>
Bu güne kadar yapılan toplan bağış: <%=@page.collected%> TL<br/>

<ul>
  <li>Twitter: <a href="http://twitter.com/#!/Ben_Varim">@BenVarim</a></li>
  <li>Facebook: <a href="http://www.facebook.com/BenVarim.Platformu">Ben Varım Facebok</a></li>
  <li>Email: <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com</a></li>
</ul>

</body>
</html>
