<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>
      Benvarım.com'a Hoşgeldin!
    </title>
  </head>
  <body>

Merhaba <%=@user.name%>,<br/>

<a href="<%=root_path(:only_path => false)%>">Benvarım.com</a>'a hoşgeldin!<br/>
<br/>
"Ben Varım!" diyerek Türkiye'nin sosyal gelişimine katkıda bulunduğun için teşekkür ederiz.<br/>
<br/>
-Özel bir gününü kutlamak,<br/>
-Sportif veya sanatsal bir faaliyetini duyurmak,<br/>
-Veya sosyal aktivizmine güç katmak için<br/>
Hemen bir <a href="<%= new_page_path(:only_path => false) %>">gönüllü sayfası</a> oluşturup, çevrenle paylaşarak destekçisi olduğun vakıf veya derneği güçlendirebilirsin.<br/>
<br/>
Yöneticisi, çalışanı veya gönüllüsü olduğun STK'yı, Benvarım.com'a <a href="<%= new_organization_path(:only_path => false) %>">ekleyebilirsin</a>.<br/>
<br/>
Bir hayırsever olarak, <a href="<%= all_pages_path(:only_path => false) %>">gönüllüler</a> aracılığıyla vakıf ve derneklere bağışta bulunabilirsin.<br/>
<br/>
Lütfen sana nasıl yardımcı olabileceğimizi bize ilet. Elimizden geleni yapmaya hazırız.<br/>
<br/>
Görüşmek üzere,<br/>
Benvarım.com Ekibi<br/>
<ul>
  <li>Twitter<a href="http://twitter.com/#!/Ben_Varim">@BenVarim</a></li>
  <li>Facebook: <a href="http://www.facebook.com/BenVarim.Platformu">Ben Varım Facebok</a></li>
  <li>Email: <a href="mailto:iletisim@benvarim.com">iletisim@benvarim.com</a></li>
</ul>
  </body>
</html>
