<%=render :partial => "email_layouts/header",
  :locals => {
    :title => "BenVarım'a Hoşgeldin!"
  }%>

Merhaba <a href="<%=user_path(@user, :only_path => false)%>"><%=@user.name%></a>,<br/>

<br/>
<a href="<%=root_path(:only_path => false)%>">BenVarım</a>'a hoşgeldin! İnandığın sivil toplum kuruluşları için bağış sayfanı yaratıp, sosyal medya üzerinden kolayca dilediğin kadar destek toplayabilirsin.<br/>

Sırasıyla yapman gerekenler: <br/>
<ol>
  <li><a href="<%=user_path(@user, :only_path => false)%>">Profilini güncelleyip</a> fotoğrafını ekle</li>
  <li>Desteklediğin kuruluş için <a href="<%= new_page_path(:only_path => false) %>">bağış sayfası oluştur</a></li>
  <li>Oluşturduğun sayfanı tanıdıklarınla paylaş</li>
</ol>
<br/>
Fikir ve önerilerine çok önem veriyoruz. Bize her zaman <a href="<%=new_contact_form_path(:only_path => false)%>">iletişim formunu</a> doldurarak ulaşabilirsin.<br/>
<br/>

<%=render :partial => "email_layouts/footer" %>
