<%=render :partial => "email_layouts/header",
  :locals => {
    :title => "Benvarım.com'a Hoşgeldin!"
  }%>

Merhaba <%=@user.name%>,<br/>

<br/>
Türkiye'nin ilk internet bağış platformu <a href="<%=root_path(:only_path => false)%>">Benvarim.com</a>'a hoşgeldin!<br/>
<br/>
Benvarim.com ile <a href="<%= new_page_path(:only_path => false) %>">gönüllü sayfası oluşturup</a>,
<ul>
  <li>Özel bir gününü sevdiklerinle paylaşabilir, </li>
  <li>Sportif veya sanatsal bir faaliyetini çevrene duyurabilir,</li>
  <li>Veya sosyal aktivizmin ile destekçisi olduğun vakıf veya derneği güçlendirebilirsin.</li>
</ul>
<br/>
Yöneticisi veya çalışanı olduğun STK'yı <a href="<%= new_organization_path(:only_path => false) %>">sistemimize kayıt edebilirsin.</a><br/>
<br/>
Bir hayırsever olarak, <a href="<%= all_pages_path(:only_path => false) %>">gönüllüler</a> aracılığıyla vakıf ve derneklere bağışta bulunabilirsin.<br/>
<br/>
Fikir ve önerilerine çok önem veriyoruz. Seninle iletişimde olmak bizi motive ederken, projemizi de güçlendirecek. Lütfen bizi takip et ve dostlarına anlat.<br/>
<br/>
Görüşmek üzere,<br/>
Proje Direktörü<br/>
Levent Baş<br/>
<%=render :partial => "email_layouts/footer" %>
