<%=render :partial => "email_layouts/header",
  :locals => {
    :title => "Benvarım.com'a Hoşgeldin!"
  }%>

Merhaba <a href="<%=user_path(@user, :only_path => false)%>"><%=@user.name%></a>,<br/>

<br/>
<a href="<%=root_path(:only_path => false)%>">Benvarim.com</a>'a hoşgeldin! Platformumuzu kullanarak sevdiğin sivil toplum kuruluşlarının kaynak geliştirme ve tanıtım faaliyetlerine destek olabilirsin.<br/>

Sırasıyla yapman gerekenler: <br/>
<ol>
  <li><a href="<%=user_path(@user, :only_path => false)%>">Profilini güncelleyip</a> fotoğrafını ekle</li>
  <li>Desteklediğin kuruluş için <a href="<%= new_page_path(:only_path => false) %>">bağış sayfası oluştur</a></li>
  <li>Oluşturduğun sayfanı tanıdıklarınla paylaş</li>
</ol>
<br/>
Fikir ve önerilerine çok önem veriyoruz. Lütfen <a href="<%=new_contact_form_path(:only_path => false)%>">iletişim formumuzu</a> doldurarak bizimle iletişime geç.<br/>
Sorularını cevaplandırmak ve sana yardımcı olmak bizi mutlu eder.
<br/>


<%=render :partial => "email_layouts/footer" %>
