<p>
  <div class="msg">MENU: <%=link_to "impersonate", admin_impersonate_path%> |
  <%=link_to "kurumlar", admin_organizations_path%> |
  <%=link_to "sayfalar", admin_pages_path%> |
  <%=link_to "e-postalar", export_emails_path%> |
  <%=link_to "stats", admin_stats_path%> |
  <%=link_to "featured", admin_featured_path%> |</div>
  <%=link_to "test features", admin_features_path%>

</p>
<%add_page_specific_script "bv.admin"%>