<%=render :partial => 'layouts/errors'%>
<div class="widget-light widget-kurum">
  <div class="w-inner clearfix">
    <div class="">
      <div class="w-title">Tüm Vakıflar ve Dernekler</div>
      <div class="" id="donation-pages-container">
        <% @organizations.each do |organization| %>
          <div class="clearfix">
            <div class="row-photo clearfix"><%= image_tag organization.logo.url(:thumb) %></div>
            <div class="row-details">
              <h3><%= link_to organization.name, organization %></h3>
              <p>
                <% if organization.paypal_info != nil%>
                  <%= form_tag admin_edit_organization_path(organization) do |f| %>
                    Paypal Hesabı: <%=label_tag organization.paypal_info.paypal_user%></br>
                    Kurum Aktif: <%=check_box_tag :active, "1", organization.active%><br/>
                    <%=submit_tag "Değişikliği kaydet"%>
                  <% end%>
                <% else %>
                  <a href="javascript:alert('insallah bir gun :);return false;')">Paypal Bilgilerini Gir</a>
                <% end %>

              </p>
              <p><%= organization.description %></p>
              <p><%= organization.address %></p>
              <p>İletişim Bilgileri:<br/>
                <table border="1">
                  <tr>
                    <td>Ekleyen:</td><td><%=link_to organization.user.name, organization.user%></td></tr>
                  <tr>
                    <td>Kurum Telefon:</td><td><%=organization.phone%></td></tr>
                  <tr>
                    <td>(kontakt) Ad Soyad:</td><td><%=organization.contact_name%></td></tr>
                  <tr>
                    <td>(kontakt) Görev:</td><td><%=organization.contact_title%></td></tr>
                  <tr>
                    <td>(kontakt) Telefon:</td><td><%=organization.contact_phone%></td></tr>
                  <tr>
                    <td>(kontakt) E-posta:</td><td><%=organization.contact_email%></td></tr>
                </table>

              </p>

              <p><%= link_to 'Görüntüle', organization %></p>
              <% if (defined? show_edit_link) && show_edit_link %>
                <p><%= link_to 'Düzenle', edit_project_path(organization) %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



