<%=render 'menu'%>
<%=render :partial => 'layouts/errors'%>
<div class="widget-light widget-kurum">
  <div class="w-inner clearfix">
    <div class="">
      <div class="w-title">Tüm Vakıflar ve Dernekler</div>
      <div class="" id="donation-pages-container">
        <% @organizations.each do |organization| %>
          <div class="clearfix">
            <div class="row-photo clearfix"><%= image_tag organization.logo.url(:thumb) %></div>
            <div class="row-details">
              <%= #TODO(berkan) DONOT forget to change the form_tags const. style %>
              <h3><%= link_to organization.name, organization %></h3>
              <%= form_tag (admin_report_page_path(organization), :method=>"get", :target=>"_blank") do |of|%>
              <p>
                <input id="" name="to" type="text" value="" class="organization-report-calendar" /> ile
                <input id="" name="from" type="text" value="" class="organization-report-calendar" /> arası <%=submit_tag "Raporu Görüntüle"%> </p>
              <% end %>
              <p>
                  <%= form_tag (admin_edit_organization_path(organization) + ".json", :class => "org_form") do |f| %>
                  <%=link_to "Paypal EC Ayarları", admin_paypal_ec_path(organization)%><br/>
                    <% if organization.paypal_info != nil%>
                      Paypal Hesabı: <%=label_tag organization.paypal_info.paypal_user%></br>
                      Kurum Aktif: <%=check_box_tag :active, "1", organization.active%><br/>
                    <% else %>
                      <a href="javascript:alert('insallah bir gun :)');return false;">Paypal Bilgilerini Gir</a><br/>
                    <% end %>
                    Kurum Gizli: <%=check_box_tag :hidden, "1", organization.hidden%><br/>
                    Kurum Sahibi: <div id="org-user-<%=organization.id%>"><%=link_to organization.user.name, organization.user%> | <a class="change-org-user" org-id="<%=organization.id%>">Değiştir</a></div>
                    <input name="uid" value="<%=organization.user.id%>" type="hidden" id="org-user-hidden-input-<%=organization.id%>"/>
                    Gizli Etiketler: <%=text_field_tag :hidden_tags, organization.tag_list_on(:hidden).join(","), :style => "width:600px"%><br/>
                    Görünür Etiketler: <%=text_field_tag :visible_tags,  organization.tag_list_on(:visible).join(","), :style => "width:600px"%><br/>
                    <%=submit_tag "Değişikliği kaydet", :class => "submit_org"%>
                  <% end %>
              </p>
              <p><%= organization.description %></p>
              <p><%= organization.address %></p>
              <p>İletişim Bilgileri:<br/>
                <table border="1">
                    <td>Kurum Telefon:</td><td><%=organization.phone%></td></tr>
                  <tr>
                    <td>(kontakt) Ad Soyad:</td><td><%=organization.contact_name%></td></tr>
                  <tr>
                    <td>(kontakt) Görev:</td><td><%=organization.contact_title%></td></tr>
                  <tr>
                    <td>(kontakt) Telefon:</td><td><%=organization.contact_phone%></td></tr>
                  <tr>
                    <td>(kontakt) E-posta:</td><td><%=organization.contact_email%></td></tr>
                </table>
              </p>
              <p><%= link_to 'Görüntüle', organization %></p>
              <% if (defined? show_edit_link) && show_edit_link %>
                <p><%= link_to 'Düzenle', edit_project_path(organization) %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% captured = capture do %>
<script>
$(document).ready(function(){
    $(".org_form").submit(function(event) {
      event.preventDefault();
      var $form = $( this );
      $form.hide();

      var url = $form.attr( 'action' );
      $.post( url, $form.serialize(),
          function( data ) {
            $form.show();
            if(!data) {
              alert("hata, tekrar dene");
            } else if(data.err) {
              alert(data.err);
            } else if(data.name) {
              if(data.hidden_tags) {
                $form.find("input[name=hidden_tags]").attr("value",data.hidden_tags)
              }
              if(data.visible_tags) {
                $form.find("input[name=visible_tags]").attr("value",data.visible_tags)
              }
              alert(data.name + " kaydedildi");
            } else {
              alert("wtf?");
            }

          }
        );
    });

    $(".change-org-user").live("click", function() {
      org_id = $(this).attr("org-id");
      var div = $("#org-user-" + org_id);
      if(!div) {
        alert("ilgili div-i bulamadim, yigit'e haber ver :)");
        return;
      }
      div.html("<img src='/images/ajax-loader.gif'>");
      Bv.Admin.loadUsers(function(users) {
        if(!users) {
          return;
        }
        var inp = $("<input/>").autocomplete({
                  source : users,
                  select : function(c, ui) {
                    console.log(ui);
                    $("#org-user-hidden-input-" + org_id).val(ui.item.id);
                  }
                })
        div.html("").append(inp);
        // div.append(inp);
      });
    })
});
</script>
<% end %>
<%render_at_the_end captured%>

