<%=render 'menu'%>
<%=render :partial => 'layouts/errors'%>
<div class="widget widget-light widget-kurum" id="list-pages">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="w-title">Tüm Bağış Sayfaları</div>

      <div class="rows-container" id="donation-pages-container">
        <% @pages.each do |page| %>
          <div class="">
            <div class="row-photo clearfix"><%= image_tag page.logo.url(:thumb) %>
            <!-- edit start -->
            <%= form_tag admin_edit_page_path(page) + ".json", :class => "page_form"  do |f| %>
              Sayfa Aktif: <%=check_box_tag :active, "1", page.active%><br/>
              Sayfa Gizli: <%=check_box_tag :hidden, "1", page.hidden%><br/>
              Agrage Gizli: <%=check_box_tag :aggregated_hidden, "1", page.aggregated_hidden, :disabled => true %>
              <%=submit_tag "Değişikliği kaydet", :class => "submit_page"%>
            <% end%>
            <!-- edit end -->

            </div>
            <div class="row-details">
              <h3><%= link_to page.title, page %></h3>
              <p><%= link_to page.organization.name, page.organization %> &raquo; <%= link_to page.project.name, page.project %>  &raquo; <%= link_to page.user.name, page.user %> <br/><b><%=page.user.email%></b></p>

              <div class="condense-200">
                <%=truncate(page.description, :length => 200) %>
              </div>

              <div class="size1of2-bar-container clearfix">

                <div class="size1of2-bar rc clearfix">
                  <div class="pb-value rc" style="width: <%=page.collect_ratio_str%>%;">
                    <div class="pb-reflection rc"></div>
                    <div class="pb-hedef">HEDEF: <b><%= page.goal_str %> TL</b></div>
                    <div class="pb-toplanan">
                    <% if page.collected < 1 && page.active? %>
                      İlk bağış yapan sen ol!
                    <% else %>
                      Toplanan: <b><%= page.collected_str %> TL</b>
                    <% end%>
                    </div>
                  </div>
                </div>
              </div><!-- end of .size1of2-bar-container -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- end of .widget -->

<% captured = capture do %>
<script>
$(document).ready(function(){
    $(".page_form").submit(function(event) {
      event.preventDefault();
      var $form = $( this );
      $form.hide();

      var url = $form.attr( 'action' );
      $.post( url, $form.serialize(),
          function( data ) {
            $form.show();
            if(!data) {
              alert("hata, tekrar dene");
            } else if(data.err) {
              alert(data.err);
            } else if(data.title) {
              $form.find("[name=aggregated_hidden]").attr("checked", data.aggregated_hidden);
              $form.find("[name=hidden]").attr("checked", data.hidden);
              $form.find("[name=active]").attr("checked", data.active);
              alert(data.title + " kaydedildi");
            } else {
              alert("wtf?");
            }

          }
        );
    });
});
</script>
<% end %>
<%render_at_the_end captured%>


