<%=render :partial => 'layouts/errors'%>

<% if notice %>
<div class="msg msg-success">
  <%= notice %>
</div>
<% end %>

<div class="widget widget-light widget-user">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">

        <div class="userpic">
          <%= image_tag @user.photo.url(:thumb) %>
        </div>

        <div class="related-organization">
          <h2><%= @user.name %><% if @user.birthday %> <span class="small">(<%="#{@user.age}"%>)<% end %></span></h2>
        </div>

        <% if user_signed_in? && current_user == @user%>
        <div class="profile-actions">
            <h4>Yönetim Paneli</h4>
            <ul>
               <li><%= link_to "Bilgilerimi Düzenle", edit_user_path(current_user) %></li>
               <li><%= link_to "Çıkış", destroy_user_session_path %></li>
            </ul>
            <br />
            <ul>
              <li><%= link_to "Kurum Ekle", new_organization_path %></li>
              <% @user.organizations.each do |organization| %>
              <li>
                <%= link_to organization.name, organization%>
                | <%= link_to "Düzenle", edit_organization_path(organization) %>
           | <%= link_to "Projeleri", organization_projects_path(organization) %>
                | <%= link_to "Proje Yarat", new_project_for_organization_path(organization) %>
              </li>
              <% end %>
            </ul>
            <ul>
               <li><%= link_to "Bağış Sayfası Yarat", new_page_path %></li>
               <li><%= link_to "Bağış Sayfalarım", my_pages_path %></li>
            </ul>
            <ul class="sub-ul">
            <% @user.pages.each do |page| %>
              <li>
                <%= link_to page.title, page %> <%=page.collected_str%> TL

                |  <%= link_to "Düzenle", edit_page_path(page)%>
              </li>
            <% end %>
            </ul>
        </div>
        <% end %>
      </div>


      <div class="fullcontent-right">
        <% if user_signed_in? && current_user == @user%>
          <p>Hemen bağış toplamaya başlamak için, gönüllüsü olacağınız S.T.K.’yı seçin:<br/></p>
          <div>
          <%=render :partial => "layouts/quickstart_widget",
          :locals => {
            :available_organizations => @available_organizations
          }
          %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>







<style type="text/css" media="screen">
  .sub-ul {
    padding-left: 20px;
  }
  .sub-ul li {
    margin-left: 10px;
  }
</style>


