<div class="widget widget-light widget-form" id="w-sifre-unut">
  <div class="w-inner">
    <div class="w-title">Şifrenizi mi unuttunuz?</div>

 
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>
 

      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
 
      
       <div class="actions">
        <%= f.submit :"Şifre sıfırlama e-postası gönder", :class=>"button super yellow button-primary" %>
      </div>
      
    <% end %>

    <%= render :partial => "devise/shared/links" %>
    
    
  </div>
</div>