<%=render :partial => "email_layouts/header",
  :locals => {
    :title => "Bağışınız için teşekkür ederiz."
  }%>

Sevgili <%=@payment.name%>,<br/><br/>
<% if @page %>
<%=@page_owner.name%> tarafından <a href="<%=project_path @project, :only_path => false%>"><%=@project.name%></a> için
oluşturulan <a href="<%=page_path @page,:only_path => false%>"><%=@page.title%></a> sayfasına yapmış olduğunuz bağış
için <a href="<%=organization_path @organization, :only_path => false%>"><%=@organization.name%></a> adına teşekkür ederiz.

<% elsif @project %>

<a href="<%=project_path(@project, :only_path => false)%>"><%=@project.name%></a> projesine yapmış olduğunuz bağış için
<a href="<%=organization_path(@organization, :only_path => false)%>"><%=@organization.name%></a> adına teşekkür ederiz.

<% else #organization%>

Yapmış olduğunuz bağış için <a href="<%=organization_path(@organization, :only_path => false)%>"><%=@organization.name%></a> adına teşekkür ederiz.

<%end%>
Bağışınız, <%=@organization.name%> banka hesaplarına güvenle ulaşmıştır.
<br/><br/>

Verilen desteği artırmak ve hedeflerine ulaşmalarını sağlamak için, bağış sayfasını Facebook, Twitter gibi sosyal
ağlarda paylaşabilir, e-posta ile çevrenize ileterek, daha fazla bağış yapılmasını sağlayabilirsiniz.
<br/><br/>

<%=render :partial => "email_layouts/share_module",
  :locals => {
    :page => @page,
    :organization => @organization,
    :project => @project
  }%>

<br/><br/>BenVarım'a <a href="<%=new_user_registration_path(:only_path => false)%>">kaydolarak</a> siz de bağış sayfaları
oluşturabilir, inandığınız kurumların daha fazla destek toplamasını sağlayabilirsiniz.
<br/>


<%=render :partial => "email_layouts/footer"%>
