<div class="page line clearfix" id="hakkimizda">
  <div class="p-nav size1of4">
    <ul>
      <li><%=link_to "Kurucular", :hakkimizda, :class => "#{print_if_selected_tab :home, :hakkimizda}", :id => "pn-hakkimizda"%></li>
      <li><a href="#">Gönüllüler</a></li>
      <li><%=link_to "Kariyer", :kariyer, :class => "#{print_if_selected_tab :home, :kariyer}", :id => "pn-kariyer"%></li>
      <li><a href="#">Basında BenVarım</a></li>
      <li><%=link_to "Gizlilik Politikası", :gizlilik_politikasi %></li>
      <li><%=link_to "Kullanım Şartları", :kullanim_sartlari %></li>
    </ul>
  </div><!-- subnav -->
  <div class="p-content size3of4 lastUnit">
    <div class="p-inner">
      <div class="p-summary">
        <h3>Bizimle çalışmak ister misin?</h3>
        <p>Benvarim.com, Türkiye’nin ilk internet üzerinden bağış toplama portalıdır. İngiltere, ABD, Almanya ve Japonya’da başarılı örnekleri olan Benvarim.com, Türkiye’de ilk kez uygulanan bir sosyal yardım projesidir. Kurucuları, İstanbul &nbsp;ve San Francisco’da yaşayan, uzun yıllar sivil toplum kuruluşlarında yöneticilik, gönüllülük ve aktivistlik yapmış olan, farklı profosyonel disiplinlerde çalışan girişimcilerdir. Kurucular, Türkiye’deki 3. Sektör denilen Sivil Toplum Örgütlerine önemli bir katma değer yaratma arzusuyla 2010 Kasım ayından itibaren beraber çalışmaktadırlar.</p>
        <p>Benvarim.com kurucuları, ekibe dahil olacak tüm adayların, takıma yeni bir heyecan ve bilgi birikimi getirmesini en önemli kriter olarak belirlemiştir.</p>
      </div>

      <div class="p-details">
        <%= render 'home/includes/jobs'%>
      </div>
    </div>
  </div><!-- p-content -->
</div><!-- .page -->







