<div class="p-featured" id="nedir">
  <div class="container">
    <div class="line clearfix">
      <div class="size1of2 pf-video">
        <div class="pfv-inner">
          <iframe src="http://player.vimeo.com/video/29056779?title=0&amp;byline=0&amp;portrait=0" width="100%" height="100%" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
        </div>
      </div>
      <div class="size1of2 lastUnit pf-desc">
        <div class="pfd-inner">
          <h1>Daha yaşanır bir dünya için<br/>
          harekete geçmeye var mısın?</h1>
          <p>İnandığın derneklerin ve vakıfların projelerini
          yarattığın bağış sayfaları ile destekle,
          Facebook ve Twitter üzerinden çevrenle paylaş.
          Topladığın bağışlar ile projelerin başarıya
          ulaşmasında pay sahibi olmanın keyfini yaşa...
          </p>
          <div class="pf-links">
            <%=link_to "Nasıl Çalışır?", :nasil_calisir, :class => "rc-top #{print_if_selected_tab :home, :nasil_calisir}", :id => "nav-nasil"%> | <%=link_to "Sık Sorulan Sorular", :sik_sorulan_sorular %>
          </div>
          <div class="pf-cta">
            <%=link_to "Gönüllü ol, bağış sayfanı yarat", :new_page, :class => "button yellow large"%>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container -->
</div>


<div id="main-content">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Nedir?</div>


        <p>BenVarım, sosyal sorumluluk projeleri için bağış ve tanıtım platformudur.</p>

        <p>Gönüllüsü olduğunuz vakıf veya derneğin, bağış kampanyasına katılarak kendinize bir web sayfası yaratabilirsiniz.  BenVarım ile, sosyal ağınızda bulunan arkadaş, akraba ve diğer gönüllülere kolayca ulaşacak ve daha fazla bağış toplanmasına aracı olacaksınız.</p>

        <p>BenVarım, vakıf ve derneklerin seslerini daha geniş kitlelere ulaştırır.</p>

        <p>BenVarım’ı iki şekilde kullanabilirsiniz:</p>

        <div class="nedir-item">
        <h3>1) GÖNÜLLÜ</h3>
        <p>Hemen sayfanızı yaratın ve gönülllüsü olduğunuz sivil toplum kuruluşu projelerini, facebook, twitter, eposta ve blog’unuz ile sosyal ağınıza duyurun.</p>
        <%=render :partial => "layouts/quickstart_widget",
        :locals => {
          :available_organizations => @available_organizations
        }
        %>
        </div>

        <div class="nedir-item">
        <h3>2)	VAKIF veya DERNEK</h3>
        <p>BenVarım’da kullanıcı adınızı yaratın ve proje ile kampanyalarınızı kolayca internet ortamına taşıyın. Gönüllülerinizin sosyal ağlarına kolayca ulaşarak hızlıca bağış toplamaya başlayın.</p>
        <p><%=link_to "Yeni Vakıf ve Dernek Kaydı", :new_organization, :class => "button large green button-primary no-margin"%>
        </p>
        </div>

      </div>
    </div>
</div><!-- end of #main-content -->

