<%= form_for @page, :html => { :multipart => true } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation" class="msg msg-error">
      <h2>Lütfen bu <%=@page.errors.count %> hatayı düzeltiniz </h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :organization_id %>
    <% unless @page.organization.nil? %>
      <%=link_to @page.organization.name, @page.organization%>
      <%=f.hidden_field :organization_id%>
    <% else %>
      <%= f.select :organization_id, @organizations, {:include_blank => true} %>
    <% end %>

  </div>
  <div class="field">
    <%= f.label :project_id %>
    <% unless @page.project.nil? %>
      <%=link_to @page.project.name, @page.project%>
      <%=f.hidden_field :project_id%>
    <% else %>
      <%= f.select :project_id, @projects, {:include_blank => @organizations.nil?}%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title, :class => :"tooltip-trigger",  :title => "<h3>En can alıcı sözün buraya!</h3>
    <p>Başlık, sosyal medya paylaşımlarında görünecektir. Doğru bir bağış sayfası başlığı:</p>
    <ul>
      <li>Kısa ve öz olmalı,</li>
      <li>Seni ve amacını yansıtmalı,</li>
      <li>Çevreni harekete geçirmeye yönelik olmalıdır.</li>
    </ul>"%>
  </div>

  <div class="field">
    <%= f.label :goal %>
    <%= f.text_field :goal, :value => "", :class => "tooltip-trigger", :title => "<h3>Daha iyi yarınlar için hedef belirle!</h3><p>Toplayabileceğini düşündüğün, amacına uygun ve gerçekçi bir miktar belirlemek gelecek bağışları olumlu yönde etkileyecektir.</p>" %> TL
  </div>

  <div class="field">
    <%= f.label :Açıklama %>
    <%= f.text_area :description_html, :class => " tooltip-trigger", :title => "<h3>Tüm detayları paylaşma vakti!</h3><p>İçinden geldiği gibi uzun uzun yaz. Bu sayfayı neden oluşturduğunu insanlara olanca içtenliğinle anlat ki daha fazla bağış toplansın.</p>
    <p>Sürecin tamamen şeffaf ve kolay olduğunu belirtmeyi unutma ve insanları harekete geçirecek bir sesleniş ile açıklamanı sonlandır.</p>
    " %>
  </div>

  <div class="field">
    <%= f.label :"Açıklama Fotoğrafı", :class => "page-photo-label" %>
    <% unless @page.new_record?%>
      <%= image_tag @page.logo.url(:thumb) %>
    <% end %>
    <%= f.file_field :logo %>
  </div>

  <div class="actions">
    <%if @page.new_record?%>
      <%=f.submit "Bağış Sayfası Yarat", :class => "button yellow super"%>
    <%else%>
      <%=f.submit "Değişiklikleri Kaydet", :class => "button yellow super"%>
    <%end%>
  </div>

<% end %>

<%add_page_specific_script "partial/page_form.js"%>