<%= form_for @page, :html => { :multipart => true } do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %>
    <% if @page.new_record? %>
      <%= f.select :organization_id, @organizations, {:include_blank => true} %>
    <% else %>
      <%=@page.organization.name%>
    <% end %>

  </div>
  <div class="field">
    <%= f.label :project_id %>
    <% if @page.new_record? %>
      <%= f.select :project_id, @projects, {:include_blank => true}%>
    <% else %>
      <%=@page.project.name%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :logo %>
    <% unless @page.new_record?%>
      <%= image_tag @page.logo.url(:thumb) %>
    <% end %>
    <%= f.file_field :logo %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description_html, :class => :mceEditor %>
  </div>
  <div class="field small-select">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field small-select">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :goal %>
    <%= f.text_field :goal %>
  </div>
  <div class="actions">
    <%= f.submit "Bağış Kampanyası Oluştur", :class => "button yellow super" %>
  </div>
<% end %>

<%add_page_specific_script "partial/page_form.js"%>

