<h1>Sayfalar</h1>

<table>
  <tr>
    <th>Başlık</th>
    <th>Tanım</th>
    <th>Başlangıç</th>
    <th>Bitiş</th>
    <th>Hedef</th>
    <th>Toplanan</th>
    <th>Gönüllü</th>
    <th>STK</th>
    <th>Proje</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.description %></td>
    <td><%= page.start_time %></td>
    <td><%= page.end_time %></td>
    <td><%= page.goal %></td>
    <td><%= page.collected %></td>
    <td><%= page.user_id %></td>
    <td><%= page.organization_id %></td>
    <td><%= page.project_id %></td>
    <td><%= link_to 'Görüntüle', page %></td>
    <% if @show_edit_link %>
      <td><%= link_to 'Düzenle', edit_page_path(page) %></td>
    <% end %>
    <% if @show_destroy_link %>
      <td><%= link_to 'Sil', page, :confirm => 'Emin misiniz?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_page_path %>
