<div class="widget widget-light widget-kurum" id="list-pages">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="w-title">Aktif Bağış Sayfaları</div>

      <div class="rows-container" id="donation-pages-container">
        <% @pages.each do |page| %>
          <div class="row clearfix">
            <div class="row-photo clearfix"><%= image_tag page.logo.url(:thumb) %></div>
            <div class="row-details">
              <h3><%= link_to page.title, page %></h3>
              <p><%= link_to page.organization.name, page.organization %> &raquo; <%= link_to page.project.name, page.project %>  &raquo; <%= link_to page.user.name, page.user %></p>

              <div class="condense-200">
                <%=truncate(page.description, :length => 200) %>
              </div>

              <div class="progress-bar-container clearfix">

                <div class="progress-bar rc clearfix">
                  <div class="pb-value rc" style="width: <%=page.collect_ratio_str%>%;">
                    <div class="pb-reflection rc"></div>
                    <div class="pb-hedef">HEDEF: <b><%= page.goal %> TL</b></div>
                    <div class="pb-toplanan">
                    <% if page.collected < 1 && page.active? %>
                      İlk bağış yapan sen ol!
                    <% else %>
                      Toplanan: <b><%= page.collected %> TL</b>
                    <% end%>

                    </div>
                  </div>
                </div>

                <% if page.can_be_donated? %>
                  <div class="pb-action">
                    <%=link_to "Bağış Yap", donate_popup_for_page_path(page), :class => "yellow button super no-margin", :rel => "facebox"%>
                  </div>
                <% end %>
              </div><!-- end of .progress-bar-container -->



              <% if @show_edit_link %>
                <p><%= link_to 'Düzenle', edit_page_path(page) %></p>
              <% end %>
              <% if @show_destroy_link %>
                <p><%= link_to 'Sil', page, :confirm => 'Emin misiniz?', :method => :delete %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row-action">
        <% unless user_signed_in? && current_user.pages.length > 0 %>
          <%= link_to 'Ben de bağış sayfası yaratmak istiyorum!', new_page_path, :class=>"green button super" %>
        <% else %>
          <%= link_to 'Gönüllü ol, bağış sayfası oluştur!', new_page_path, :class=>"green button super" %>
        <% end %>
      </div>

    </div>
  </div>
</div><!-- end of .widget -->


