<% if generate_widget %>
<div class="widget widget-light w-top-fundraisers widget-liste">
  <div class="w-inner clearfix">
    <div class="w-title"><%= title %></div>
    <div class="w-content">
<% end %>



    <% pages.each do |page|%>
      <div class="row clearfix">
        <div class="row-photo bagisci">
          <%= image_tag page.user.photo.url(:thumb) %>
          <p><%=link_to page.user.name, page%></p>
        </div>
        <div class="row-details">
          <h3><%=link_to page.title, page %></h3>
          <blockquote class="">
            <span class="quotation">“ </span>
            <%=truncate(page.description, :length => 140) %>
          </blockquote>


          <div class="pb-container-small clearfix">
            <div class="progress-bar rc clearfix pb-small">
              <div class="pb-value rc" style="width: <%= page.collect_ratio_str%>%;">
                <div class="pb-reflection rc"></div>
                <div class="pb-hedef">HEDEF: <b><%= page.goal_str %> TL</b></div>
                <div class="pb-toplanan">
                  <% if page.collected < 1 && page.active? %>
                    İlk bağış yapan sen ol!
                  <% else %>
                    Toplanan: <b><%= page.collected_str %> TL</b>
                  <% end%>
                </div>
              </div>
            </div>
            <% if page.can_be_donated? %>
            <div class="pb-action">
              <%=link_to "Bağış Yap", page, :class => "yellow button small no-margin"  %>
            </div>
            <% end %>
          </div><!-- .pb-container-small -->

        </div>
      </div><!-- end of .row -->
    <% end %>
    <div class="row row-action">
      <% if defined?(link_to_pages) && link_to_pages == true %>
        <%=link_to "Tüm bağış sayfalarını görüntüle", all_pages_path, :class => "show-all" %>
      <% else %>
        <% if @organization && @organization.can_be_donated? %>
          <%=link_to "Sen de gönüllü ol, bağış sayfanı yarat!", new_page_for_organization_path(@organization), :class => "green button large" %>
        <% else %>
          <%=link_to "Gönüllü ol, bağış sayfanı yarat!", :new_page, :class => "button green large"%>
        <% end %>
      <% end %>
    </div><!-- end of .row -->


<% if generate_widget %>
    </div>
  </div>
</div>
<% end %>