<%
last = nil
payments.each do |payment|%>
  <div class="row clearfix">
    <div class="bagis-miktari"><%=payment.amount_in_currency_str%><span><%=payment.currency_sign%></span></div>
    <% if payment.note? %>
      <blockquote><span class="quotation">“</span> <%=payment.note%></blockquote>
    <% end %>
    <div class="bagisci"><%=(show_hidden_names || !payment.hide_name) ? payment.name : ("(Gizli Bağışçı)")%> <%=raw ((show_hidden_names && payment.hide_name) ? "<span class='tooltip-trigger' title='Bağışçı isminin gizlenmesini istemiş. Bu durumda isim sadece size gösteriliyor.'>(Gizli Bağışçı)</span>" : "")%>
     - <%=payment.created_at.in_time_zone("Istanbul").to_formatted_s(:simple) %>  </div>
  </div><!-- end of .row -->
<%
last = payment
end %>
<% if(defined?(more) && more) %>
  <div class="row clearfix more-link" url="<%=partial_payments_path(last.page, :start => last.id)%>">
    devamı...
  </div><!-- end of .row -->
<% end %>