<%=render :partial => 'layouts/errors'%>

<div class="one-column">
  <div class="widget widget-light">
    <div class="w-inner">
      <div class="w-title">Aşağıdaki projeyi silmek istediğinize emin misiniz?</div>
	<%= form_for @page, :html => { :multipart => true } do |f| %>
	
	  <div class="field">
	    <%= f.label :organization_id %>
	    <% unless @page.organization.nil? %>
	      <%=link_to @page.organization.name, @page.organization%>
	      <%=f.hidden_field :organization_id%>
	    <% else %>
	      <%= f.select :organization_id, @organizations, {:include_blank => true} %>
	    <% end %>

	  </div>
	  <div class="field">
	    <%= f.label :project_id %>
	    <% unless @page.project.nil? %>
	      <%=link_to @page.project.name, @page.project%>
	      <%=f.hidden_field :project_id%>
	    <% else %>
	      <%= f.select :project_id, @projects, {:include_blank => @organizations.nil?}%>
	    <% end %>
	  </div>

	  <div class="field">
	    <%= f.label :title %>
	    <%= f.text_area :title, :readonly=> true %>
	  </div>

	  <div class="field">
	    <%= f.label :goal %>
	    <%= f.text_field :goal , :readonly=> true%> TL
	  </div>

	  <div class="actions">
	      <%=f.submit "Evet, eminim.", :class => "button yellow super"%>
	      <%=f.submit "Hayır, geri dön!", :class => "button yellow super"%>
	  </div>

	<% end %>

	<%add_page_specific_script "partial/page_form.js"%>
    </div>
  </div>
</div><!-- end of .one-column -->