<p id="notice"><%= notice %></p>
<% if user_signed_in? && @page.user == current_user %>
  <%= link_to 'Düzenle', edit_page_path(@page) %>
<% end %>
<%= image_tag @page.logo.url(:thumb) %>
<p>
  <b>Başlık:</b>
  <%= @page.title %>
</p>

<p>
  <b>Tanım:</b>
  <%= @page.description %>
</p>

<p>
  <b>Başlangıç:</b>
  <%=human_readable_datetime @page.start_time %>
</p>

<p>
  <b>Bitiş:</b>
  <%=human_readable_datetime @page.end_time %>
</p>

<p>
  <b>Hedef:</b>
  <%= @page.goal %> TL
</p>

<p>
  <b>Toplanan:</b>
  <%= @page.collected %> TL
</p>

<p>
  <b>Kurum:</b>
  <%= @page.organization.name %>
</p>

<p>
  <b>Proje:</b>
  <%= @page.project.name %>
</p>
<%=link_to "Bağış Yap", donate_path(@page)%>

<p>
	<fb:like layout="button_count" show_faces="false" width="150"></fb:like>
	<a name="fb_share" type="button_count href="http://www.facebook.com/sharer.php">Facebook'ta Paylaş </a>
</p>

<p>
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" >Tweet</a>
	<a style="background: url(http://friendfeed.com/static/images/icons/internal.png) 0px 0px no-repeat; padding-left: 20px; margin-left: 30px;" href="http://friendfeed.com/?url=
		<%= request.url %>&amp;title=<%= @page.title %>" target="_blank">FriendFeed'de Paylaş</a>
</p>
