<%=render :partial => 'layouts/errors'%>

<div class="widget widget-light widget-page <%=@page.can_be_donated? ? 'page-active' : 'page-deactive'%>">
  <% if @page.did_reach_goal? %><div class="ribbon r-successful"></div><% end %>
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">



      <div class="profile clearfix">
        <div class="profile_pic clearfix">
          <div class="_pm_container">
            <div class="_pm_shadow r"></div>
            <div class="_pm_shadow l"></div>
            <div class="_pm">
              <div class="_pm_inner">
                  <img alt="<% @page.user.name %>" src="<%= @page.user.photo.url(:thumb) %>"   /></a>
              </div>
              <div class="_pm_details">
                <div class="p-name">


                  <%=link_to @page.user.name, @page.user%>
                </div>
              </div><!-- _pm_details -->
            </div>
          </div>
        </div><!-- end of profile_pic -->
      </div><!-- end of .profile -->





        <div class="related-organization">
          <h2>Desteklediği Kuruluş:</h2>
          <div class="ro-details">
            <h3><%= link_to @page.organization.name, @page.organization%></h3>
            <h4><%= link_to @page.project.name, @page.project %></h4>
            <p class="small"><%= image_tag @page.organization.logo.url(:thumb) %> <%=@page.organization.description[0..200]%>... <%= link_to "devamı »", @page.organization%></p>

          </div>
        </div>

        <div class="profile-actions">
          <% if user_signed_in? && @page.user == current_user %>
            <%= link_to 'Düzenle', edit_page_path(@page) %>
          <% end %>
        </div>
      </div>


      <div class="fullcontent-right">
        <div class="comment-bubble rc clearfix">
          <h1><%= @page.title %></h1>

          <%= render 'pages/share_options'%>
        </div><!-- .comment-bubble -->

        <div class="progress-bar-container clearfix">

          <div class="progress-bar rc clearfix">
            <div class="pb-value rc" data-width="<%=@page.collect_ratio_str%>">
              <div class="pb-reflection rc"></div>
              <div class="pb-hedef">HEDEF: <b><%= @page.goal_str %> TL</b></div>
              <div class="pb-toplanan">
              <% if @page.collected < 1 && @page.active? %>
                İlk bağış yapan sen ol!
              <% else %>
                Toplanan: <b><%= @page.collected_str %> TL</b>
              <% end%>

              </div>
            </div>
          </div>

          <% if @page.can_be_donated? %>
            <div class="pb-action">
              <%=link_to "Bağış Yap", donate_popup_for_page_path(@page), :class => "yellow button super no-margin button-donate", :rel => "facebox"%>
            </div>
          <% end %>
        </div><!-- end of .progress-bar-container -->


        <div class="description clearfix condense-400">


            <% if @page.logo.file? %>
              <%= image_tag @page.logo.url(:thumb) %>
            <% end %>




            <%=raw @page.description_html %>
        </div>

        <div class="tabs-container">
          <div id="tabs">
          	<ul>
          		<li><a href="#destekleyenler">Destekleyenler</a></li>
          		<li><a href="#proje-detaylari">Proje Detayları</a></li>
          	</ul>
          	<div id="destekleyenler" class="widget-liste clearfix">

          	  <% if @payments.length > 0 %>
                <%=render :partial => "payment",
                  :locals => {
                    :payments => @payments,
                    :more => @more,
                    :show_hidden_names => @show_hidden_names
                  }
                %>

                <div class="row center">
                  <%=link_to "Ben de destek olmak istiyorum.", donate_popup_for_page_path(@page), :class => "yellow button no-margin large", :rel => "facebox"%>
                </div><!-- end of .row -->
              <% else %>
                <p><%= @page.user.name%> ilk destekçisini bekliyor.</p>
                <%=link_to "İlk bağış yapan sen ol!", donate_popup_for_page_path(@page), :class => "yellow button no-margin", :rel => "facebox"%>
              <% end %>


            </div> <!-- end of #destekleyenler -->

          	<div id="proje-detaylari" class="clearfix">
              <div class="pd-photo clearfix">
                <% if @page.project.logo.file? %>
                  <%= image_tag @page.project.logo.url(:thumb) %>
                <% else %>
                  <%= image_tag @page.organization.logo.url(:thumb) %>
                <% end %>

              </div>
              <div class="pd-details">
            	  <h3><%= link_to @page.project.name, @page.project %></h3>
                <p><%= @page.project.description %></p>
                <p><%= link_to 'Daha fazla bilgi', @page.project %></p>
                <% if (defined? show_edit_link) && show_edit_link %>
                  <p><%= link_to 'Düzenle', edit_project_path(@page.project) %></p>
                <% end %>
              </div>
            </div> <!-- end of #proje-detaylari -->

          </div>
        </div><!-- .tabs-container -->

      </div>
    </div>
  </div>
</div><!-- end of .widget -->

<div id="main-content">

  <div class="widget widget-light widget-aktif-bagis ">
    <div class="w-inner clearfix">
      <div class="w-title">Sıkça Sorulan Sorular</div>
      <div class="w-content">


        <div class="row">
          <h3>Benvarım.com’da kimler projelerini tanıtabilir ve bağış toplayabilir?</h3>
          <p>Türkiye Cumhuriyeti'nde yasal olarak bağış toplama yetkisi bulunan vakıf ve derneklerin gönüllüleri ile yöneticileri BenVarım.com platformunu kullanarak sosyal sorumluluk projelerini tanıtabilir  ve bunlar için bağış toplayabilirler</p>
        </div>
        <div class="row">
          <h3>Bağışları BenVarım.com kendi hesabında mı topluyor?</h3>
          <p>Hayır.  Benvarım.com sosyal sorumluluk projelerininin internaktif bir şekilde tanıtılmasına aracı olan bir platformdur. Benvarım.com bağışçıların direk olarak ilgili vakıf veya derneğe bağışta bulunmalarını sağlar.</p>
        </div>
        <div class="row">
          <h3>Kredi kartımla bağış yapabilir miyim?</h3>
          <p>Evet. Bu aşamada ödeme sistemi olarak kullandığımız PayPal servisi ister kredi kartı veya banka kartı ile, ister sahip olduğunuz PayPal hesabı ile bağış yapma olanağı sağlar.</p>
        </div>
        <div class="row">
          <h3>PayPal ödeme sistemi güvenli midir?</h3>
          <p>PayPal, tüm dünyada 100 milyondan fazla kullanıcıya sahip, en güvenli internet ödeme arayüzlerinden biridir. PayPal servisi ile yaptığınız kart ödemelerinde hesap bilgilerinizin ne bağış yaptığınız kurum tarafından ne de BenVarım.com platformu tarafından erişilmesine olanak yoktur. Ödemenizi yaparken, BenVarım.com sayfasından kısa süreliğine ayrılıp, PayPal hesabına yönlendirilecek, güvenli şekilde kart numaranızı girip ödemenizi yaptıktan sonra BenVarım platformuna geri yönlendirileceksiniz. PayPal servisi ödemenizi yaptığınız anda hem bağış yaptığınız kuruma eposta ile yapılan bağışı bildirir, hem de BenVarım platformuna ödemenin gerçekleştirildiğini bildirir. BenVarım platformu, bağışçıların ve kurumların güvenliğine en üst seviyede önem veren bir platformdur.</p>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>


<% if @post_donate %>

  <div class="dialog" id="dialog-postbagis" title="Teşekkürler!">
    <div class="d-header">
      <div class="dh-title">
        Bağışınız kuruma güvenli bir şekilde ulaşmıştır. Daha fazla destek olmak için lütfen sevdiklerinizle paylaşın!
      </div>
    </div><!-- .d-header -->

    <div class="d-content ">

      <%= render 'pages/share_options'%>

    </div><!-- .d-content -->

    <div class="d-footer">
    </div><!-- .d-footer -->
  </div><!-- .d-dialog -->

  <% captured = capture do %>
  <script type="text/javascript">
  $(document).ready(function(){
      var $dialog = $("#dialog-postbagis");
      $dialog.dialog( "option", "width", 500 );
      $dialog.dialog('open');
  });
  </script>
  <% end %>
  <%render_at_the_end captured%>
<% end %>
