<%= form_for @project, :html => { :multipart => true } do |f| %>
  <% if @project.errors.any? %>
    <div class="msg-error msg">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field"> 
    <%= f.label :logo %>
    <% unless @project.new_record?%>
      <%= image_tag @project.logo.url(:thumb) %>
    <% end %>
    <%= f.file_field :logo %>
  </div>
  <div class="field small-select">
    <%= f.label :start_time %> 
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field small-select">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit :kaydet, :class=>"button yellow super button-primary" %>
  </div>
<% end %>
