<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="w-title">Aktif Bağış Projeleri</div>
      <div class="rows-container" id="donation-pages-container">
        <% @projects.each do |project| %>
          <div class="row clearfix">
            <div class="row-photo clearfix"><%= image_tag project.logo.url(:thumb) %></div>
            <div class="row-details">
              <h3><%= link_to project.name, project %></h3>
              <p><%= project.description %></p>
              <p><%= project.organization.name %></p>


              <p><%= link_to 'Görüntüle', project %></p>
              <% if (defined? show_edit_link) && show_edit_link %>
                <p><%= link_to 'Düzenle', edit_project_path(project) %></p>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>

      <% unless current_user.organization.nil? %>
        <div class="row-action">
          <%= link_to 'Yeni bağış projesi oluştur!', new_project_path, :class=>"green button super" %>
        </div>
      <% end %>

    </div>
  </div>
</div><!-- end of .widget -->
