<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start time</th>
    <th>End time</th>
    <th>Description</th>
    <th>Organization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.start_time %></td>
    <td><%= project.end_time %></td>
    <td><%= project.description %></td>
    <td><%= project.organization_id %></td>
    <td><%= link_to 'Show', project %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
