<%=render :partial => 'layouts/errors'%>

<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">

      <%= image_tag @project.logo.url(:thumb) %>
      <p>
        <b>Proje:</b>
        <%= @project.name %>
      </p>
      <p>
        <b>Tanım:</b>
        <%=raw @project.description %>
      </p>

      <p>
        <b>Kurum:</b>
        <%= link_to @project.organization.name, @project.organization %>
      </p>

      <% if user_signed_in? && current_user.organization == @project.organization%>
        <%= link_to 'Düzenle', edit_project_path(@project) %>
      <% end %>
      <%=link_to "Destekle", new_page_for_project_path(@project), :class => "yellow button right no-margin"%>


    </div>
  </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>
