<%=render :partial => 'layouts/errors'%>

<% @bodyid = "page-proje" %>

<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">
        <% if @project.logo.file? %>
          <%= image_tag @project.logo.url(:thumb) %>
        <% else %>
          <%= image_tag @project.organization.logo.url(:thumb) %>
        <% end %>

        <div class="pb-action">
          <% if @project.can_be_donated? %>
            <%=link_to "Bağış Yap", donate_popup_for_project_path(@project), :class => "yellow button super no-margin", :rel => "facebox"%>
          <% end %>

          <% if user_signed_in? && current_user == @project.organization.user%>
          <div class="admin-actions">
            <ul>
              <li><%= link_to 'Düzenle', edit_project_path(@project) %></li>
              <li><%=link_to "Yeni Proje Ekle", new_project_for_organization_path(@project)%></li>
            </ul>
          </div>
          <% end %>


        </div>
      </div>
      <div class="fullcontent-right">
        <h1><%= @project.name %></h1>
        <h6><%= link_to @project.organization.name, @project.organization %></h6>

        <% if @project.organization.website %>
          <p class="outlink">
            <%=link_to "http://#{@project.organization.website}", :target => "_blank"%>
          </p>
        <% end %>

        <%if @project.organization.collected? %>
        <div class="toplam-bagis">
          Bugüne kadar toplanan bağış miktarı: <%= @project.organization.collected %> <small>TL</small>
        </div>
        <% end %>

        <br/>


        <div class="fcr-desc truncate-short">
          <% if @project.end_time %>
            <b>Bitiş Zamanı:</b> <%=@project.end_time.in_time_zone("Istanbul").to_formatted_s(:simple)%><br/>

          <% end %>
          <%= raw @project.description_html %>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of .widget -->




<div id="main-content">
  <div id="home-stats">
    <% if @project.pages.count > 0 %>

      <%=render :partial => "pages/list_pages_condensed",
        :locals => {
          :title => "En çok bağış toplayanlar",
          :pages => @top_pages
        }%>

    <% end %>

  </div>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>
