<p id="notice"><%= notice %></p>
<%= image_tag @project.logo.url(:thumb) %>
<p>
  <b>Proje:</b>
  <%= @project.name %>
</p>

<p>
  <b>Başlangıç:</b>
  <%=human_readable_datetime @project.start_time %>
</p>

<p>
  <b>Bitiş:</b>
  <%=human_readable_datetime @project.end_time %>
</p>

<p>
  <b>Tanım:</b>
  <%= @project.description %>
</p>

<p>
  <b>Kurum:</b>
  <%= link_to @project.organization.name, @project.organization %>
</p>

<% if organization_signed_in? && current_organization == @project.organization%>
  <%= link_to 'Düzenle', edit_project_path(@project) %>
<% end %>
<%= link_to 'Geri', projects_path %>
