<div class="one-column">
  <div class="widget widget-light" id="w-yeni-kayit">
    <div class="w-inner">
      <div class="w-title">Bağış Yap</div>
      <% if @tmp_payment.errors.any? %>
        <div class="msg msg-error" id="error_explanation">
          <h2>Lütfen bu <%=@tmp_payment.errors.count%> hatayı düzeltiniz</h2>

          <ul>
          <% @tmp_payment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if @tmp_payment.page%>
        <%= form_tag donate_for_page_path(@tmp_payment.page)%>
      <% elsif @tmp_payment.project%>
        <%= form_tag donate_for_project_path(@tmp_payment.project)%>
      <% elsif @tmp_payment.organization%>
        <%= form_tag donate_for_organization_path(@tmp_payment.organization)%>
      <% else %>
        <%#cannot come here, checked in the control%>

      <% end %>
      <div class="field">
      <%=label_tag "Ad Soyad:"%>
      <%=text_field_tag "tmp_payment[name]", @tmp_payment.name, :class=> "text-field"%>
      </div>

      <div class="field">
      <%=label_tag "E-posta:"%>
      <%=text_field_tag "tmp_payment[email]", @tmp_payment.email, :class=> "text-field"%>
      </div>

      <div class="field">
      <%=label_tag "Bağış miktarı:"%>
      <%=text_field_tag "tmp_payment[amount_in_currency]", @tmp_payment.amount_in_currency, :class=> "text-field"%><%=@tmp_payment.human_readable_currency%>
      </div>

      <div class="field">
      <%=label_tag "Notunuz:"%>
      <%=text_area_tag "tmp_payment[note]", @tmp_payment.note, :class=> "text-field"%>
      </div>

      <div class="actions">
        <input type="submit" value="Gönder" name="commit" class="yellow button large">
      </div>

      <small>Gönder tuşuna bastıktan sonra ödeme bilgilerinizi girmek için %100 güvenli ödeme sistemi Paypal'a yönlendirileceksiniz. Ödeme yaptıktan sonra makbuzunuz e-posta adresinize gönderilecek ve benvarim.com'a geri geleceksiniz.</small>

      </form>

    </div>
  </div>
</div>