<div class="p-featured" id="nedir">
  <div class="container">
    <div class="line clearfix">
      <div class="size1of2 pf-video">
        <div class="pfv-inner">
        </div>
      </div>
      <div class="size1of2 lastUnit pf-desc">
        <div class="pfd-inner">
          <h1>Daha yaşanır bir dünya için<br/>
          harekete geçmeye var mısın?</h1>
          <p>İnandığın derneklerin ve vakıfların projelerini
          yarattığın bağış sayfaları ile destekle,
          Facebook ve Twitter üzerinden çevrenle paylaş.
          Topladığın bağışlar ile projelerin başarıya
          ulaşmasında pay sahibi olmanın keyfini yaşa...
          </p>
          <div class="pf-links">
            <%=link_to "Nasıl Çalışır?", :nasil_calisir, :class => "rc-top #{print_if_selected_tab :home, :nasil_calisir}", :id => "nav-nasil"%> | <%=link_to "Sık Sorulan Sorular", :sik_sorulan_sorular %>
          </div>
          <div class="pf-cta">
            <%=link_to "Gönüllü ol, bağış sayfanı yarat", :new_page, :class => "button yellow large"%>
          </div>
        </div>
      </div>
    </div>
  </div><!-- end of .container -->
</div>

<div id="stats">
  <div class="container">
    <p>
      "Ben varım!" diyen
      <strong><%=@stats[:user_count].to_i + @stats[:donor_count].to_i%> gönüllü</strong> sayesinde bugüne kadar
      <strong><%=@stats[:payment_amount]%> TL</strong> bağış toplandı.
    </p>
  </div>
</div>

<div class="container">

  <div class="widget widget-light clearfix" id="featured-charities">
      <div class="w-inner">
        <div class="w-title">Destekleyebileceğiniz kurumlar</div>
        <a href="https://www.benvarim.com/kurum/unicef-turkiye-milli-komitesi" id="fc-unicef" title="UNICEF Türkiye Milli Komitesi">UNICEF Türkiye Milli Komitesi</a>
        <a href="https://www.benvarim.com/kurum//turkiye-egitim-gonulluleri-vakfi-tegv" id="fc-tegv" title="Türk Eğitim Gönüllüleri Vakfı">Türk Eğitim Gönüllüleri Vakfı</a>
        <a href="https://www.benvarim.com/kurum/toplum-gonulluleri-vakfi-tog" id="fc-tog" title="Toplum Gönüllüleri Vakfı">Toplum Gönüllüleri Vakfı</a>
        <a href="https://www.benvarim.com/kurum/bugday-ekolojik-yasami-destekleme-dernegi" id="fc-bugday" title="Buğday Ekolojik Yaşamı Destekleme Derneği">Buğday Ekolojik Yaşamı Destekleme Derneği</a>
        <a href="https://benvarim.com/kurum/turkish-educational-foundation-abd" id="fc-tef" class="fc-default" title="Turkish Educational Foundation">Turkish Educational Foundation</a>
        <a href="https://www.benvarim.com/kurum/biseg-bir-insan-saglik-ve-egitim-koyleri-gonulluler-dernegi" id="fc-biseg" class="fc-default" title="BISEG - Bir İnsan Sağlık ve Eğitim Köyleri Derneği">BISEG - Bir İnsan Sağlık ve Eğitim Köyleri Derneği</a>
        <!--
        <a href="https://www.benvarim.com/kurum/sizofreni-dernekleri-federasyonu" id="fc-sizofreni" class="fc-default hidden" title="Şizofreni Dernekleri Federasyonu">Şizofreni Dernekleri Federasyonu</a>
        -->
        <a href="https://www.benvarim.com/kurum/tocev-tuvana-okuma-istekli-cocuk-egitim-vakfi" id="fc-tocev" class="fc-default" title="TOÇEV Tüvana Okuma İstekli Çocuk Eğitim Vakfı">TOÇEV Tüvana Okuma İstekli Çocuk Eğitim Vakfı</a>
        <a href="https://www.benvarim.com/kurum/turkiye-omurilik-felclileri-dernegi-tofd" id="fc-tofd" class="fc-default" title="Türkiye Omurilik Felçlileri Derneği (TOFD)">Türkiye Omurilik Felçlileri Derneği (TOFD)</a>
        <div class="more-link"><a href="/kurumlar">Tüm Kurumları Listele &raquo;</a></div>
      </div>
  </div>


  <div class="line">
    <div class="size1of2 column column-projects">
      <%=render :partial => "projects/list_projects_condensed",
        :locals => {
          :generate_widget => true,
          :show_edit_link => false,
          :projects => @top_projects,
          :hide_organization_link => true,
          :link_to_organizations => true
        }%>
    </div>
    <div class="size1of2 lastUnit column column-pages">
       <% if @top_pages.length > 0 %>
        <%=render :partial => "pages/list_pages_condensed",
          :locals => {
            :generate_widget => true,
            :title => "En aktif gönüllüler ve bağış sayfaları",
            :pages => @top_pages,
            :link_to_pages => true
          }%>
        <% end %>
    </div>
  </div>



  <div class="widget widget-light clearfix" id="featured-supporters">
    <div class="w-inner">
      <div class="w-title">BenVarım'da bu hafta neler oldu?</div>
        <ul>

		<% @feed.each do |user,support| %>
          <li class="clearfix feed-item">
            <div class="feed-item-image">
              <img src="<%=user.photo.url(:thumb)%>" c lass="supporter-photo"/>
            </div>
            <div class="feed-item-details">
              <p>
                <a href="<%=user_path(user)%>"><span class="supporter-name"><%=user.name%></span></a>,

                <% len = support.length %>
                <a href="<%=organization_path(support.first.organization)%>">
            	    <span class="supported-org"><%=support.first.organization.name%></span>
            	  </a>
            	  <% if len > 2 %>


                <%elsif len > 1%>
                  ve <a href="<%=organization_path(support[1].organization)%>">
              	    <span class="supported-org"><%=support[1].organization.name%></span>
              	  </a>
          	    <% end
            	  %>
            	  <% if len == 1%>
            	  kurumunu destekledi.
            	  <% elsif len > 2%>
            	  ve
            	  <a
            	    class="more-feed-trigger"
            	    href="#"
            	    title='<ul>
              	    <%support.each_with_index do |s, i|%>
              	      <% next if i == 0 %>
              	      <li>
                    	  <a href="<%=organization_path(s.organization)%>">
                    	    <span class="supported-org"><%=s.organization.name%></span>
                    	  </a>
                    	</li>
                    <% end %>
                  </ul>'>
            	      <%=len-1%> kurumu
            	  </a> daha destekledi.



            	  <% else %>
            	  kurumlarını destekledi.
            	  <% end%>
              </p>
            </div>
          </li>
		<% end %>
        </ul>
      <!-- <div class="more-link"><a href="/kurumlar">Tüm Kurumları Listele &raquo;</a></div> -->
    </div>
  </div>




</div>





