<ul>
  <li><%=link_to "BenVarım Ailesi", :hakkimizda, :class => "rc-tl #{print_if_selected_tab :home, :hakkimizda}", :id => "pn-hakkimizda"%></li>

<!--
  <li><%=link_to "Basında BenVarım", :basinda_benvarim, :class => "#{print_if_selected_tab :home, :basinda_benvarim}", :id => "pn-basinda-benvarim" %></li>
-->
  <li><%=link_to "Kariyer", :kariyer, :class => "#{print_if_selected_tab :home, :kariyer}", :id => "pn-kariyer" %></li>
  <li><%=link_to "Gizlilik Politikası", :gizlilik_politikasi, :class => "#{print_if_selected_tab :home, :gizlilik_politikasi}", :id => "pn-gizlilik-politikasi" %></li>
  <li><%=link_to "Kullanım Şartları", :kullanim_sartlari, :class => "rc-bl #{print_if_selected_tab :home, :kullanim_sartlari}", :id => "pn-kullanim-sartlari"  %></li>
</ul>