<%= form_for(@organization) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2>Kurum kaydedilemedi!<br/>
          Lütfen aşagıdaki hataları düzeltiniz!</h2>
      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :class=> "text-field" %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, :class=> "text-field" %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "mceEditor text-area" %>
  </div>
  <div class="actions">
    <%= f.submit :kaydet, :class=>"button-primary" %>
  </div>
<% end %>
