<div class="widget widget-light widget-kurum">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="w-title">Tüm Vakıflar ve Dernekler</div>
      <div class="rows-container" id="donation-pages-container">
        <% @organizations.each do |organization| %>
          <div class="row clearfix">
            <div class="row-photo clearfix"><%= image_tag organization.logo.url(:thumb) %></div>
            <div class="row-details">
              <h3><%= link_to organization.name, organization %></h3>
              <p><%= organization.description %></p>
              <p><%= organization.address %></p>


              <p><%= link_to 'Görüntüle', organization %></p>
              <% if (defined? show_edit_link) && show_edit_link %>
                <p><%= link_to 'Düzenle', edit_project_path(organization) %></p>
              <% end %>

            </div>
          </div>
        <% end %>
      </div>

      <% unless current_user.organization.nil? %>
        <div class="row-action">
          <%= link_to 'Yeni bağış projesi oluştur!', new_project_path, :class=>"green button super" %>
        </div>
      <% end %>

    </div>
  </div>
</div><!-- end of .widget -->



