<%=render :partial => 'layouts/errors'%>


<% @bodyid = "page-kurum" %>

<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">
        <%= image_tag @organization.logo.url(:thumb) %>



        <% if @reference %>
        <!-- <%="reference #{@reference[:organization_id]} == #{@organization.id} && #{@reference[:user_id]} != #{@current_user.id}"%> -->
        <% end %>



        <div class="pb-action">
          <% if @organization.can_be_donated? %>
            <%=link_to "Bağış Yap", donate_popup_for_organization_path(@organization), :class => "yellow button super no-margin", :rel => "facebox"%>
          <% end %>
        </div>





        <% if (user_signed_in? && current_user == @organization.user)%>
        <div class="admin-actions">
          <ul>
            <li><%=link_to "Düzenle", edit_organization_path(@organization)%></li>
            <li><%=link_to "Yeni Proje Ekle", new_project_for_organization_path(@organization)%></li>
          </div>
        <% end %>

      </div>
      <div class="fullcontent-right">

        <h1 class="org-name"><%= @organization.name %></h1>
        <p class="org-address"><%= @organization.address %></p>

        <% if @organization.website %>
          <p class="org-url outlink">
            <%=link_to "http://#{@organization.website}", "http://#{@organization.website}", :target => "_blank"%>
          </p>
        <% end %>


        <% if @organization.facebook_url %>
          <p class="org-url outlink">
            <%=link_to "Facebook: #{@organization.name}", "http://facebook.com/#{@organization.facebook_url}", :target => "_blank"%>
          </p>
        <% end %>

        <% if @organization.twitter_handle %>
          <p class="org-url outlink">
            <%=link_to "Twitter: http://twitter.com/#{@organization.twitter_handle}", "http://twitter.com/#{@organization.twitter_handle}", :target => "_blank"%>
          </p>
        <% end %>



        <%if @organization.collected? %>
        <div class="toplam-bagis">
          Bugüne kadar toplanan bağış miktarı: <%= @organization.collected_str %> <small>TL</small>
        </div>
        <% end %>

        <br/>

        <div class="fcr-desc org-desc truncate-short">
          <%= raw @organization.description_html unless @organization.description_html.nil? %>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of .widget -->
<div id="main-content">
  <%=render :partial => "projects/list_projects_condensed",
    :locals => {
      :show_edit_link => false,
      :projects => @projects,
      :hide_organization_link => true,
      :organization => @organization
    }%>

  <% if @top_pages.length > 0 %>
  <%=render :partial => "pages/list_pages_condensed",
    :locals => {
      :title => "En çok bağış toplayanlar",
      :pages => @top_pages
    }%>
  <% end %>
</div><!-- end of #main-content -->

<%= render 'organizations/includes/sidebar'%>









<% if @post_support %>

  <div class="dialog" id="dialog-post-support" title="Teşekkürler!">
    <div class="d-header">
      <div class="dh-title">
        <%= @organization.name %> kurumunu desteklediğin için teşekkür ederiz. Daha fazla kişinin bu kurumu desteklemesi için lütfen paylaşalım.
      </div>
    </div><!-- .d-header -->

    <div class="d-content ">


      <%= render :partial => 'organizations/includes/share_options' %>


      <!-- <%= render :partial => 'organizations/includes/share_options',
        :locals => {
          :title => "Destekliyorum! @organization.name"
        }
      %> -->





    </div><!-- .d-content -->

    <div class="d-footer">
    </div><!-- .d-footer -->
  </div><!-- .d-dialog -->

  <% captured = capture do %>
  <script type="text/javascript">
  $(document).ready(function(){
      var $dialog = $("#dialog-post-support");
      $dialog.dialog( "option", "width", 500 );
      $dialog.dialog('open');
  });
  </script>
  <% end %>
  <%render_at_the_end captured%>
<% end %>