<%=render :partial => 'layouts/errors'%>


<% @bodyid = "page-kurum" %>

<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">
        <%= image_tag @organization.logo.url(:thumb) %>

        <div class="pb-action">
          <% if @organization.can_be_donated? %>
            <%=link_to "Bağış Yap", donate_popup_for_organization_path(@organization), :class => "yellow button super no-margin", :rel => "facebox"%>
          <% end %>
        </div>





        <% if (user_signed_in? && current_user == @organization.user)%>
        <div class="admin-actions">
          <ul>
            <li><%=link_to "Düzenle", edit_organization_path(@organization)%></li>
            <li><%=link_to "Yeni Proje Ekle", new_project_for_organization_path(@organization)%></li>
          </div>
        <% end %>

      </div>
      <div class="fullcontent-right">

        <h1 class="org-name"><%= @organization.name %></h1>
        <p class="org-address"><%= @organization.address %></p>

        <% if @organization.website %>
          <p class="org-url outlink">
            <%=link_to "http://#{@organization.website}", "http://#{@organization.website}", :target => "_blank"%>
          </p>
        <% end %>

        <div class="toplam-bagis hidden">
          Bugüne kadar toplanan bağış miktarı: <%= @organization.collected %> <small>TL</small>
        </div>

        <br/>

        <div class="fcr-desc org-desc truncate-short">
          <%= raw @organization.description_html unless @organization.description_html.nil? %>
        </div>
      </div>
    </div>
  </div>
</div><!-- end of .widget -->
<div id="main-content">
  <%=render :partial => "projects/list_projects",
    :locals => {
      :show_edit_link => false,
      :projects => @projects,
      :hide_organization_link => true,
      :organization => @organization
    }%>

  <% if @top_pages.length > 0 %>
  <%=render :partial => "pages/list_pages_condensed",
    :locals => {
      :title => "En çok bağış toplayanlar",
      :pages => @top_pages
    }%>
  <% end %>
</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>


