<%=render :partial => 'layouts/errors'%>


<% @bodyid = "page-kurum" %>

<% if (user_signed_in? && current_user == @organization.user)%>
<div class="admin-actions rc line">
  <div class="size1of4 aa-title">Yönetim Paneli:</div>
  <div class="size3of4 lastUnit">
    <ul>
      <li><%=link_to "Düzenle", edit_organization_path(@organization)%></li>
      <li><%=link_to "Yeni Proje Ekle", new_project_for_organization_path(@organization)%></li>
    </ul>
  </div>
</div>
<% end %>


<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">

      <div id="org-summary" class="line">

        <div class="size1of4 org-logo">
          <%= image_tag @organization.logo.url(:thumb) %>
        </div>
        <div class="size3of4 lastUnit org-creds">
          <h1 class="org-name"><%= @organization.name %></h1>

          <% if @organization.can_be_donated? %>
            <%=link_to "Bağış Yap", donate_popup_for_organization_path(@organization), :class => "yellow button  no-margin", :rel => "facebox"%>
          <% end %>

        </div>
      </div><!-- #org-summary -->

      <div class="line">
        <div class="size1of4">
          <%= render 'organizations/includes/widget_supporters'%>
        </div>
        <div class="size3of4 lastUnit">
            <%= render 'organizations/includes/content'%>
        </div>
      </div><!-- .line -->

      <div class="fullcontent-left">
        <% if @reference %>
          <%="reference #{@reference[:organization_id]} == #{@organization.id} && #{@reference[:user_id]} != #{@current_user.id}"%>
        <% end %>
      </div>
      <div class="fullcontent-right">

      </div>
    </div>
  </div>
</div><!-- end of .widget -->


<div id="main-content">

</div><!-- end of #main-content -->








<% if @support %>
  <%= render "organizations/includes/dialog_support" %>
<% end %>



<% captured = capture do %>
  <script type="text/javascript">
    openSupportDialog = function() {
      var $dialog = $("#dialog-post-support");
      $dialog.dialog( "option", "width", 660 );
      $dialog.dialog('open');
    };


  </script>
  <% if @post_support %>
    <script type="text/javascript">
    $(document).ready(function(){
        openSupportDialog();
    });
    </script>
  <% end %>
<% end %>

<%render_at_the_end captured%>