<%=render :partial => 'layouts/errors'%>


<% @bodyid = "page-kurum" %>

<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">
        <%= image_tag @organization.logo.url(:thumb) %>
        <div class="pb-action">
          <% if @organization.can_be_donated? %>
            <%=link_to "Bağış Yap", donate_popup_for_organization_path(@organization), :class => "yellow button super no-margin", :rel => "facebox"%>
          <% end %>
        </div>


        <% if (user_signed_in? && current_user == @organization.user)%>
        <div class="admin-actions">
          <ul>
            <li><%=link_to "Düzenle", edit_organization_path(@organization)%></li>
            <li><%=link_to "Yeni Proje Ekle", new_project_for_organization_path(@organization)%></li>
          </div>
        <% end %>

      </div>
      <div class="fullcontent-right">

        <h1><%= @organization.name %></h1>
        <h6><%= @organization.address %></h6>
        <% if @organization.website %>
          <p class="outlink">
            <%=link_to "Web Sitesi", "http://#{@organization.website}", :target => "_blank"%>
          </p>
        <% end %>
        <%= raw @organization.description_html unless @organization.description_html.nil? %>
      </div>
    </div>
  </div>
</div><!-- end of .widget -->
<div id="main-content">
  <% if @organization.pages.count() > 0 %>
    <div class="widget widget-light widget-aktif-bagis ">
      <div class="w-inner clearfix">
        <div class="w-title">Bağış Sayfaları</div>
        <div class="w-content">
        <%@organization.pages.each do |page|%>
          <div class="row">
              <h2><%=link_to page.title, page%></h2>
              <% if page.can_be_donated? %>
                <%=link_to "Bağış Yap", donate_for_page_path(page), :class => "yellow button right no-margin"%>
              <% end %>
              <p>
                <%=page.description[0..200]%><%=link_to "Detaylı bilgi", page%>
              </p>
          </div><!-- end of .row -->
        <% end %>
        <% if @organization.pages.length == 0 %>
          <div class="row center">
            <%=link_to "İlk bağış sayfasını yaratan sen ol!", new_page_for_organization_path(@organization), :class => "green button super" %>
          </div><!-- end of .row -->
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <%=render :partial => "projects/list_projects",
    :locals => {
      :show_edit_link => false,
      :projects => @projects,
      :hide_organization_link => true,
      :organization => @organization
    }%>

  <% if @top_pages.length > 0 %>
    <div class="widget widget-light widget-aktif-bagis widget-liste">
      <div class="w-inner clearfix">
        <div class="w-title">En çok bağış toplayanlar</div>
        <div class="w-content">
        <%@top_pages.each do |page|%>
          <div class="row clearfix">
              <div class="bagis-miktari"><%=page.collected_str%> <span>TL</span></div>
              <blockquote><span>“</span><%=page.description%><%=link_to "...", page%></blockquote>
              <div class="bagisci"><%=link_to page.user.name, page.user%></div>
          </div><!-- end of .row -->
        <% end %>


          <div class="row center">
            <%=link_to "Ben de bağış kampanyası düzenlemek istiyorum!", new_page_for_organization_path(@organization), :class => "green button super" %>
          </div><!-- end of .row -->


        </div>
      </div>
    </div>
  <% end %>

</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>


