<p id="notice"><%= notice %></p>


<% @bodyid = "page-kurum" %>

<div class="widget widget-light widget-kurum ">
  <div class="w-inner clearfix">
    <div class="w-content">
      <div class="fullcontent-left">
        <%= image_tag @organization.logo.url(:thumb) %>
        <a href="#" class="yellow button super no-margin">Bağış Yap</a>
      </div>
      <div class="fullcontent-right">
        <% if (user_signed_in? && current_user.organization == @organization)%>
          <div>
            Yönetim Paneli<br/>
            <%=link_to "Düzenle", edit_organization_path(@organization)%>
            <%=link_to "Yeni Proje Ekle", :new_project%>
          </div>
        <% end %>

        <h1><%= @organization.name %></h1>
        <h6><%= @organization.address %></h6>
        <p class="outlink"><a href="http://www.nesinvakfi.com">RAILS: http://www.nesinvakfi.com</a></p>
        <%= raw @organization.description unless @organization.description.nil? %>
      </div>
    </div>
  </div>
</div><!-- end of .widget -->
<div id="main-content">

  <div class="widget widget-light widget-aktif-bagis ">
    <div class="w-inner clearfix">
      <div class="w-title">Aktif Bağış Kampanyaları</div>
      <div class="w-content">
      <%@organization.projects.each do |project|%>
        <div class="row">
            <h2><%=link_to project.name, project%></h2>
            <%=link_to "Destekle", new_page_for_project_path(project), :class => "yellow button right no-margin"%>
            <p>
              <%=project.description[0..200]%><%=link_to "Detaylı bilgi", project%>
            </p>
        </div><!-- end of .row -->
      <% end %>
      </div>
    </div>
  </div>

  <div class="widget widget-light widget-aktif-bagis widget-liste">
    <div class="w-inner clearfix">
      <div class="w-title">En çok bağış toplayanlar</div>
      <div class="w-content">


        <div class="row clearfix">
            <div class="bagis-miktari">1,520<span>TL</span></div>
            <blockquote><span>“</span> Selden zarar gören Nesin Vakfı yardımlarınızı bekliyor. Harekete geçmenin tam zamanı!</blockquote>
            <div class="bagisci">Gerçek Karakuş</div>
        </div><!-- end of .row -->


       <div class="row clearfix">
           <div class="bagis-miktari">2,550<span>TL</span></div>
           <blockquote><span>“</span> 23 Nisan Çocuk Şenliğine kadar 10 adet dizüstü bilgisayar almak ve gençlerimize armağan etmek istiyoruz.</blockquote>
           <div class="bagisci">Levent Bas</div>
       </div><!-- end of .row -->


        <div class="row center">
            <a href="#" class="green button super">Ben de bağış kampanyası düzenlemek istiyorum!</a>
        </div><!-- end of .row -->


      </div>
    </div>
  </div>

</div><!-- end of #main-content -->

<%= render 'layouts/sidebar_kurum'%>


