<div id="footer">
  <div class="container">
    <div class="media-container line">
        <div class="size1of3">
            <p>“Sosyal yardım kuruluşları için bağış toplamak
            isteyenlerin “doğru mecra”sı…”</p>
            <p class="media-icon mi1">sosyalmedya.co</p>
        </div>
        <div class="size1of3">
            <p>“Sosyal medya kanalıyla yardım toplama ve
            bağışçıya ulaşmanın en güzel örneği.”</p>
            <p class="media-icon mi2">webrazzi</p>
        </div>
        <div class="size1of3 lastUnit">
            <p>“BenVarım sitesindeki % 100 güvenli ödeme
            sistemi Paypal ile bağış yapabilirsiniz.”</p>
            <p class="media-icon mi3">teknokedi</p>
        </div>
    </div><!-- end of .media-container -->
    <div class="footer-dynamic">
    </div>


    <div class="f-bottom line">
      <div class="size1of3">
        <div id="footer-logo">benvarim.com</div>
        <p class="copyright"><small>&copy; Copyright 2010-2011</small></p>
      </div>

      <div class="size1of3">
        <div class="line">
          <div class="size1of2">
            <ul>
              <li><%=link_to "Nedir?", :nedir %></li>
              <li><%=link_to "Nasıl Çalışır?", :nasil_calisir %></li>
              <li><%=link_to "Sık Sorulan Sorular", :sik_sorulan_sorular %></li>
              <li><%=link_to "Güvenli Ödeme", :guvenli_odeme %></li>
            </ul>
          </div>
          <div class="size1of2 lastUnit">
            <ul>
              <li><%=link_to "Kurumlar", :all_organizations %></li>
              <li><%=link_to "Projeler", :projects %></li>
              <li><%=link_to "Sayfalar", :all_pages %></li>
              <li><%=link_to "Site Haritası", :sitemap %></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="size1of3 lastUnit">
        <div class="line">
          <div class="size1of2">
            <ul>
              <li><%=link_to "Hakkımızda", :hakkimizda %></li>
              <li><%=link_to "Kullanım Şartları", :kullanim_sartlari %></li>
              <li><%=link_to "Gizlilik Politikası", :gizlilik_politikasi %></li>
              <li><%=link_to "Kariyer", :kariyer %></li>
            </ul>
          </div>
          <div class="size1of2 lastUnit">
            <ul>
              <li><%=link_to "İletişim", :new_contact_form %></li>
              <li><a href="http://blog.benvarim.com/">Blog</a></li>
              <!-- <li>Basın Bültenleri</li> -->
              <li><%=link_to "Yeni Kurum Kaydı", :new_organization %></li>
            </ul>
          </div>
        </div>
      </div>



  </div>
</div> <!--! end of #footer -->

<script>
//export JS configuration
Bv = {};
Bv.Config = {
  Search : {
    publicApiUrl : "<%=ENV['INDEXTANK_PUBLIC_URL']%>",
    indexName : "<%=BvSearch.get_default_index_name%>"
  }
};
</script>

<!-- Javascript at the bottom for fast page loading -->
<script src="/javascripts/jquery.1.6.4.min.js"></script>

<!-- scripts concatenated and minified via ant build script-->
<script type="text/javascript" src="/jquery-ui-1.8.16.custom/js/jquery-ui-1.8.16.custom.min.js"></script>
<%= include_javascripts :workspace %>
<%=raw get_buffered_output%>
<!-- Share part -->
<script src="http://connect.facebook.net/tr_TR/all.js#xfbml=1"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'tr'}
</script>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share"></script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>


<!-- end concatenated and minified scripts-->


<!--[if lt IE 7 ]>
<%= javascript_include_tag "libs/dd_belatedpng" %>
<script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->

<!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
change the UA-XXXXX-X to be your site's ID -->
<script>
var _gaq = [['_setAccount', 'UA-21493934-1'], ['_trackPageview']];
(function(d, t) {
var g = d.createElement(t),
s = d.getElementsByTagName(t)[0];
g.async = true;
g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
s.parentNode.insertBefore(g, s);
})(document, 'script');
</script>


</body>
</html>
