<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>

  <!-- TypeKit - Styla -->
  <script type="text/javascript" src="http://use.typekit.com/tza2afe.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- http://code.google.com/apis/analytics/docs/tracking/asyncUsageGuide.html#SplitSnippet -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-21493934-1']);
    _gaq.push(['_trackPageview']);
  </script>


  <%= include_tiny_mce_if_needed %>
  <%= csrf_meta_tag %>


  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title><%=tags_title%></title>
  <meta property="og:site_name" content="Benvarim.com"/>
  <meta property="og:url" content="<%=url_for :only_path => false%>"/>
  <meta property="og:type"  content="activity"/>
  <meta property="og:title" content="<%=fb_og_title%>" />
  <meta property="og:description" content="<%=fb_og_description%>"/>
  <%fb_og_images.each do |url|%>
    <meta property="og:image" content="<%=url%>"/>
  <%end%>
  <meta property="fb:admins" content="574728226"/>

  <meta property="title" content="<%=tags_title%>"/>
  <meta property="description" content="<%=tags_description%>"/>
  <meta property="keywords" content="<%=tags_keywords%>"/>

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=1080, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS : implied media="all" -->
  <%= include_stylesheets :workspace, :media => 'all' %>
  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <%= stylesheet_link_tag "handheld" %>
  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <%= javascript_include_tag "libs/modernizr-1.6.min" %>



  <script type="text/javascript">var switchTo5x=true;</script>
</head>

<body id="<%=body_id%>" class="<%=body_class%>">
  <div id="wrapper">
    <div id="header">
      <div class="container">
        <div id="header-logo">
          <%=link_to "benvarim.com", :root%>
        </div>
        <div id="partner-logo"></div>
        <div id="site-nav">
          <ul class="clearfix">
            <li><%=link_to "Nedir?", :root, :class => "rc-top #{print_if_selected_tab :home, :index}", :id => "nav-anasayfa"%></li>
            <li>
              <%=link_to "Nasıl Çalışır?", :nasil_calisir, :class => "rc-top #{print_if_selected_tab :home, :nasil_calisir}", :id => "nav-nasil"%>
            </li>
            <li><a href="http://blog.benvarim.com/" class="rc-top">Blog</a></li>
            <li>
              <%=link_to "Hakkımızda", :hakkimizda, :class => "rc-top #{print_if_selected_tab :home, :hakkimizda}", :id => "nav-hakkimizda"%>
            </li>
            <li>
              <%=link_to "iletişim", :new_contact_form, :class => "rc-top #{print_if_selected_tab :contact_forms, nil}", :id => "nav-iletisim"%>
            </li>
          </ul>
        </div>

        <div id="utility-nav" class="rc-bottom">
          <div class="un-search">
            <form id="un-search-form" action="/ara/">
              <input type="text" class="rc" name="k" id="search_query" value="<%=@keyword%>" placeholder="Kurum, proje, bağış sayfası ya da kişi ara...">
            </form>
          </div>
          <div class="un-login-registration">
            <% if user_signed_in? %>
              Merhaba, <%= link_to (current_user.name ? current_user.name : current_user.email), user_path(current_user) %> | <%= link_to "Çıkış", destroy_user_session_path %>
            <% else %>
            	<%= link_to "Giriş", new_user_session_path %> |	<%= link_to "Kayıt", new_user_registration_path %>
            <% end %>
          </div>
        </div>

      </div>
    </div><!-- end of #header -->