<ul>
<% if organization_signed_in? %>
  <li><%=current_organization.email%></li>
	<li><%= link_to "Kurum Bilgilerini Düzenle", edit_organization_path(current_organization.id) %></li>
	<li><%= link_to "Çıkış", destroy_organization_session_path %></li>
	<li><%= link_to "Proje Yarat", new_project_path %></li>
	<li><%= link_to "Projelerimiz", our_projects_path %></li>
<% end%>
<% if user_signed_in? %>
  <li><%=current_user.email%></li>
  <li><%= link_to "Bilgilerimi Düzenle", edit_user_path(current_user.id) %></li>
  <li><%= link_to "Sayfalarım", my_pages_path %></li>
  <li><%= link_to "Çıkış", destroy_user_session_path %></li>
<% end %>
<% unless organization_signed_in? || user_signed_in? %>
	<li><%= link_to "Kurum Giriş", new_organization_session_path %></li>
	<li><%= link_to "Kurum Kayıt", new_organization_registration_path %></li>
	<li><%= link_to "Aktivist Giriş", new_user_session_path %></li>
	<li><%= link_to "Aktivist Kayıt", new_user_registration_path %></li>
<% end %>
<li><%= link_to "Projeler", projects_path %></li>
<li><%= link_to "Sayfa Yarat", new_page_path %></li>
</ul>