<%= render 'layouts/header'%>

<div id="content" class="clearfix">
  <div class="container">
    <%=render :partial => 'layouts/errors'%>

    <%= yield %>
  </div>
</div><!-- end of #container -->



<%= render 'layouts/footer'%>
<%= render 'layouts/page_specific_js'%>























