<%= render 'layouts/header'%>

<div id="content" class="clearfix">
  <% if is_in_homepage %>
    <%= yield %>
  <% else %>
    <div class="container">
      <%= yield %>
    </div>
  <% end %>


</div><!-- end of #container -->


<%= render 'layouts/footer'%>
<%= render 'layouts/page_specific_js'%>























